/* Estilo Global */
body {
    font-family: "Hind", sans-serif;
    color: #444;
    background-color: #f1eeee41;
    line-height: 1.6;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
.nav-items {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    background-color: white;
    position: relative;
}

.nav-items img {
    width: 130px;
    height: auto;
    margin-right: 20px;
}

.nav-items a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-items a:hover {
    background-color: #f1f1f1;
}

.nav-items .dropdown {
    position: relative;
}

.nav-items .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 5px;
}

.nav-items .dropdown-content a {
    display: block;
    padding: 10px;
    text-align: center;
}

.nav-items .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.nav-items .dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para o conteúdo principal */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.content {
    display: flex;
    flex: 1;
    gap: 20px;
    align-items: flex-start;
}

.main-content {
    flex: 0 0 40%; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-top {
    width: 100%;
}

.image-top img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.text {
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}    

.text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.text p {
    margin-bottom: 15px;
}

.buttons {
    text-align: left;
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    margin: 15px 20px 10px 0;
    padding: 12px 24px;
    background-color: #0b580b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttons a:hover {
    background-color: #084408;
}

.image-side {
    flex: 0 0 60%; /* A imagem ao lado ocupa 60% */
    text-align: center;
}

.image-side img {
    width: 100%;
    height: 900px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main-content,
    .image-side {
        flex: 1 1 100%; /* Em telas menores, ocupam toda a largura */
    }
}
